body {
    background-repeat: no-repeat;
    background-image: url("https://img.freepik.com/vector-gratis/escena-paisaje-pradera-blanco_1308-59927.jpg?w=1480&t=st=1709731813~exp=1709732413~hmac=5c150d22bba6c27233394b3760dd0300bada10f50887b131d6c625afdae7c3f6");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.casa {
    position: absolute;
    left: 60vw;
    top: 20vh;
}

#casa {
    width: 40vw;
    height: auto;
}

.sol {
    position: absolute;
    left: 70vw;
    top: 5vh;
    opacity: 50%;
    animation: sol 2s alternate 15s forwards; /* Retraso de 10s para que comience después de las animaciones anteriores */
}

#sol {
    width: 15vw;
    height: auto;
}

.flor {
    position: absolute;
    left: 40vw;
    top: 60vh;
    opacity: 0; /* Inicialmente oculto */
    animation: aparecerFlor 2s 20s forwards;
}

#flor {
    width: 5vw;
    height: 7vw;
}

.nube {
    position: absolute;
    left: 32vw;
    top: 10vh;
    animation: nube 10s 6s, lluvia 2s 16s forwards;
}

#nube {
    width: 20vw;
    height: auto;
}

.lluvia {
    position: absolute;
    left: 32vw;
    top: 15vw;
    opacity: 0%;
    animation: moverLluvia 5s 16s forwards; 
}

#lluvia {
    width: 20vw;
    height: 25vw;
}

.contador {
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    color: black;
    height: 500px;
    font-size: 100px;
    text-align: center;
    background: none;
}

.contador::after {
    content: "1";
    animation: contadorAnim 8s forwards;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes contadorAnim {
    0%, 12.5% { content: "1"; opacity: 1; }
    25%, 37.5% { content: "2"; opacity: 1; }
    50%, 62.5% { content: "3"; opacity: 1; }
    75%, 87.5% { content: "Ready!"; opacity: 1; }
    100% { opacity: 0; }
}

@keyframes sol {
    to {opacity: 100%;}
}

@keyframes nube {
    from {left: 0px;}
    to {left: 32vw;}
}

@keyframes aparecerFlor {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes moverLluvia {
    0% { left: 32vw; }
    from {opacity: 100%;}
    to {opacity: 0%;}
}



@keyframes crecimientoFlor {
    from {height: 0;}
    to {height: 7vw;}
}



