@font-face 
{
    font-family: Bold;
    src: url(fuentes/OpenSans-Semibold.ttf)  format("truetype");
}

@font-face 
{
    font-family: Open;
    src: url(fuentes/OpenSans-Regular.ttf) format("truetype");
}

body
{
    top: 0px;
    left: 0px;
    width: 100vh;
    height: 100vh;
    background: transparent linear-gradient(180deg, var(--unnamed-color-ffffff) 0%, #E6E6E6 21%, #808080 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #E6E6E6 21%, #808080 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

#cuadro
{
    top: 200px;
    left: 100px;
    width: 1400px;
    height: 800px;
    background: transparent url('img/Rectangle 3.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    position: absolute;
}
#cuadro2
{
    top: 200px;
    left: 1390px;
    width: 110px;
    height: 800px;
    background: transparent url('img/Rectangle 1.png') 0% 0% no-repeat padding-box;
    border-radius: 0px 8px 8px 0px;
    opacity: 1;
    position: absolute;
}
#icono
{
    top: 243px;
    left: 143px;
    width: 196px;
    height: 44px;
    background: transparent url('img/1200px-Metrolínea_logo.svg.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
#metro
{
    top: 322px;
    left: 227px;
    width: 884px;
    height: 497px;
    background: transparent url('img/Metrolinea.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
#letras1
{
    top: 861px;
    left: 158px;
    width: 716px;
    height: 55px;
    background: transparent url('img/Tarjeta Metrolínea (Saldo $3000 COP).png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
#tresmil
{
    top: 924px;
    left: 157px;
    width: 139px;
    height: 37px;
    background: transparent url('img/$3000 COP.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
#amarillo
{
    top: 847px;
    left: 1180px;
    width: 160px;
    height: 114px;
    background: transparent url('img/Rectangle 2.png') 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    position: absolute;
    
}
#logo
{
    top: 876px;
    left: 1195px;
    width: 129px;
    height: 29px;
    background: transparent url('img/1200px-Metrolínea_logo.svg.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
#comprar
{
    top: 890px;
    left: 1205px;
    width: 111px;
    height: 36px;
    font-size: 26px;
    position: absolute;
    color: black;
    font-family: "Open Sans", sans-serif;
}


#boton1
{
    top: 213px;
    left: 800px;
    width: 230px;
    height: 41px;
    position: absolute;
    font-size: 30px;
    font-family: Open;
    color: black;
    text-decoration: underline;
}
#boton2
{
    top: 213px;
    left: 1072px;
    width: 142px;
    height: 41px;
    font-size: 30px;
    position: absolute;
    font-family: Open;
    color: black;
}
#abajo1
{
    top: 821px;
    left: 158px;
    width: 716px;
    height: 55px;
    font-size: 40px;
    position: absolute;
    font-family: Bold;
}
#abajo2
{
    top: 890px;
    left: 157px;
    width: 149px;
    height: 37px;
    font-size: 27px;
    font-family: Bold;
    position: absolute;
}
#lupa
{
    top: 252px;
    left: 1224px;
    width: 27px;
    height: 27px;
    background: transparent url('img/Icon ionic-ios-search.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
#carrito
{
    top: 252px;
    left: 1324px;
    width: 33px;
    height: 32px;
    background: transparent url('img/Icon feather-shopping-cart.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
#cantidad
{
    top: 349px;
    left: 1403px;
    width: 84px;
    height: 27px;
    position: absolute;
    color: white;
    font-size: 20px;
    font-family: Open;
}
#numero1
{
    top: 607px;
    left: 1435px;
    width: 23px;
    height: 187px;
    font-size: 20px;
    position: absolute;
    color: white;
    font-family: Open;
}
#numero2
{
    top: 507px;
    left: 1435px;
    width: 23px;
    height: 187px;
    font-size: 20px;
    position: absolute;
    color: gray;
    font-family: Open;
}
#numero3
{
    top: 707px;
    left: 1435px;
    width: 23px;
    height: 187px;
    font-size: 20px;
    position: absolute;
    color: gray;
    font-family: Open;
} 
#arrowup
{
    top: 240px;
    left: 1433px;
    width: 24px;
    height: 14px;
    background: transparent url('img/Icon ionic-ios-arrow-up.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
} 
#arrowdown
{
    top: 946px;
    left: 1433px;
    width: 24px;
    height: 14px;
    background: transparent url('img/Icon ionic-ios-arrow-down.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}