@font-face {
    font-family: Open;
    src: url(/fuentes/Poppins-Regular.ttf);
}
body
{
    background-color: #1f2030;
    font-family: Open;
}

#foods
{
    font-size: 2em;
    color: #d45800;
    font-family: Open;
    top: 0.5em;
    left: 2em;
    position: absolute;
    
}
#botones1
{
    font-size: 1em;
    color: white;
    font-family: Open;
    top: 2.5em;
    left: 34.5em;
    position: absolute;
}
#botones2
{
    font-size: 1em;
    color: white;
    font-family: Open;
    top: 2.5em;
    left: 39.5em;
    position: absolute;
}
#botones3
{
    font-size: 1em;
    color: white;
    font-family: Open;
    top: 2.5em;
    left: 44.5em;
    position: absolute;
}
#botones4
{
    font-size: 1em;
    color: white;
    font-family: Open;
    top: 2.5em;
    left: 49em;
    position: absolute;
}
#botones5
{
    font-size: 1em;
    color: white;
    font-family: Open;
    top: 2.5em;
    left: 54em;
    position: absolute;
}
#titulo
{
    font-size: 4em;
    color: #d45800;
    font-family: Open;
    top: 1.5em;
    left: 3em;
    position: absolute;
}
#abajo
{
    font-size: 1em;
    color: white;
    font-family: Open;
    top: 13em;
    left: 12.5em;
    position: absolute;
}
#abajo1
{
    font-size: 1em;
    color: white;
    font-family: Open;
    top: 14em;
    left: 12.5em;
    position: absolute;
}
#home
{
    top: 9em;
    left: 38em;
    height: 12em;
    width: 12em;
    position: absolute;
}
.naranja
{
    top: 16.5em;
    left: 12.5em;
    width: 7em;
    height: 2em;
    text-align: center;
    line-height: 0em;
    background-color: #d45800;
    position: absolute;
}
#about
{
    top: 25em;
    left: 13em;
    width: 12em;
    height: 12em;
    position: absolute;
}
#about1
{
    font-size: 1em;
    color: #d45800;
    top: 24em;
    left: 35em;
    position: absolute;
}
#about2
{
    font-size: 2em;
    color: white;
    top: 12em;
    left: 17.5em;
    position: absolute;
}
#about3
{
    font-size: 2em;
    color: white;
    top: 13em;
    left: 17.5em;
    position: absolute;
}
#about4
{
    font-size: 1em;
    color: white;
    top: 29.5em;
    left: 35em;
    width: 14.5em;
    position: absolute;
}
.naranja1
{
    top: 34.5em;
    left: 35em;
    width:7em;
    height: 2em;
    line-height: 0em;
    text-align: center;
    background-color: #d45800;
    position: absolute;
}
#letra
{
    font-size: 1em;
    color: #d45800;
    top: 40em;
    left: 28em;
    position: absolute;
}
#letra1
{
    font-size: 2em;
    color: white;
    top: 20em;
    left: 10.2em;
    position: absolute;
  
}
.cuadro1
{
    width: 10em;
    height: 10em;
    top: 47em;
    left: 10em;
    background-color: white;
    border: 0.2em solid black;
    position: absolute;
}
.cuadro2
{
    width: 10em;
    height: 10em;
    top: 47em;
    left: 25em;
    border: 0.2em solid black;
    background-color: white;
    position: absolute;
}
.cuadro3
{
    width: 10em;
    height: 10em;
    top: 47em;
    left: 40em;
    border: 0.2em solid black;
    background-color: white;
    position: absolute;
}
#foto1
{
    width: 5em;
    height: 5em;
    top: 0.5em;
    left: 2.5em;
    position: absolute;
}
#foto2
{
    width: 5em;
    height: 5em;
    top: 0.5em;
    left: 2.5em;
    position: absolute;
}
#foto3
{
    width: 4.5em;
    height: 4.5em;
    top: 0.5em;
    left: 2.7em;
    position: absolute;
}
#txt1
{
    font-size: 1em;
    top: 4.5em;
    left: 2em;
    position: absolute;
}
#txt2
{
    font-size: 1em;
    top: 5.7em;
    left: 3em;
    position: absolute;
}
#txt3
{ 
    font-size: 0.9em;
    color: #d45800;
    top: 8em;
    left: 4.5em;
    position: absolute;
}
#txt4
{
    font-size: 1em;
    top: 4.5em;
    left: 1em;
    position: absolute;
}
#txt5
{
    font-size: 1em;
    top: 4.5em;
    left: 1.5em;
    position: absolute;
}
#letra2
{
    font-size: 1em;
    color: #d45800;
    top: 60em;
    left: 28em;
    position: absolute;
}
#letra3
{
    font-size: 2em;
    color: white;
    top: 30.3em;
    left: 9em;
    position: absolute;
}
#img1
{
    position: absolute;
    top: 68em;
    left: 10.5em;
    width: 10em;
    height: 10em;
}
#img2
{
    position: absolute;
    top: 68em;
    left: 25.5em;
    width: 10em;
    height: 10em;
}
#img3
{
    position: absolute;
    top: 68.5em;
    left: 40em;
    width: 10em;
    height: 8em;
}
#order
{
    font-size: 1.5em;
    color: #d45800;
    top: 50.5em;
    left: 9em;
    position: absolute;
}
#ship
{
    font-size: 1.5em;
    color: #d45800;
    top: 50.5em;
    left: 18.5em;
    position: absolute;
}
#delivered
{
    font-size: 1.5em;
    color: #d45800;
    top: 50.5em;
    left: 28em;
    position: absolute;
}
#ordertext
{
    font-size: 1em;
    color: white;
    top: 78em;
    left: 10em;
    width: 11em;
    position: absolute;
    text-align: center;
}
#shiptext
{
    font-size: 1em;
    color: white;
    top: 78em;
    left: 25em;
    width: 11em;
    position: absolute;
    text-align: center;
}
#deliveredtext
{
    font-size: 1em;
    color: white;
    top: 78em;
    left: 39.5em;
    width: 11em;
    position: absolute;
    text-align: center;
}
.seccion5
{
    width: 45em;
    height: 15em;
    top: 89em;
    left: 7.5em;
    border: 0.5em solid black;
    background-color: white;
    position: absolute;
}
#make
{
    font-size: 3em;
    top: -0.5em;
    left: 3em;
    position: absolute;
    
}
#everyday
{
    font-size: 3em;
    top: 0.5em;
    left: 5.5em;
    position: absolute;
}
.orange
{
    top: 10em;
    left: 18.5em;
    width: 7em;
    height: 3em;
    text-align: center;
    background-color: #d45800;
    position: absolute;
}
.columna1
{
    position: absolute;
    color: white;
    font-size: 1em;
    top: 110em;
    left: 8em;
    
}
.columna2
{
    position: absolute;
    color: white;
    font-size: 1em;
    top: 110em;
    left: 21em;
}
.columna3
{
    position: absolute;
    color: white;
    font-size: 1em;
    top: 110em;
    left: 35em;
}
.columna4
{
    position: absolute;
    color: white;
    font-size: 1em;
    top: 110em;
    left: 48em;
}
#uno
{
    text-decoration: 0.2em underline #d45800;
    font-size: 1.2em;
}
#dos
{
    text-decoration: none;
    color: white;
}
#circulo
{
    background-color: #d45800;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    position: absolute;
}
#circulo2
{
    background-color: #d45800;
    width: 1.5em;
    height: 1.5em;
    left: 2em;
    border-radius: 50%;
    position: absolute;
}
#circulo3
{
    background-color: #d45800;
    width: 1.5em;
    height: 1.5em;
    left: 4em;
    border-radius: 50%;
    position: absolute;
}
#circulo4
{
    background-color: #d45800;
    width: 1.5em;
    height: 1.5em;
    left: 6em;
    border-radius: 50%;
    position: absolute;
}
#tres
{
    font-size: 0.8em;
}