body
{
  background-image: url("Imagenes/Space-Background-Images.jpg");
}
#titulo1
{
    color: darkslategrey;
    text-align: center;
    background-color: aquamarine;
    border: 5px outset blue;
    
}
#subtitulos
{
    color: black;
    text-decoration: underline;
    text-align: center;

}
#imagenes 
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px outset black;

}
#definiciones
{
    color: black;
    text-align: center;

}

.estudio
{
    border: 5px outset red;
    background-color: lightcoral;
    
}
.trabajo
{
    border: 5px outset green;
    background-color: lightgreen;
    
}
.familia
{
    border: 5px outset yellow;
    background-color: lightyellow;
    
}